body {
  background-color:  #a9a6d7;
}

h1 {
   font-family: "Montserrat", sans-serif;
}

.App {
  background-color: #ffffff;
   min-height: 80vh;
   width: 400px;
   margin: 20px auto;
}

ul, li {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  font-family: 'Montserrat', 'sans-serif';
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}
.container {
  display: flex;
  justify-content: center;
}

.add {

  background: #65aa06;
  margin-top: 5px;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
padding: 10px;
border: none;
width: 70%;
color: white;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
}

input {
  flex: 1;
  margin: 8px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

img {
  border-radius: 10%;
  padding: 10px;
}